// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

footer {
  background-color: #0e204a;
  color: #fff;
  margin-top: 3em;
}

.copyright {
  color: #0e204a;
}