// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

footer {
  background-color: #0e204a;
  color: #fff;
  margin-top: 3em;
}

.copyright {
  color: #0e204a;
}

/*-- Banner style --*/
.banner {
    background-color: #ed9c28;
    padding-bottom: 10px; 
}