// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require YTPlayer/mb.YTVPlayer.css
*/

/*================= FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS =================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext,cyrillic);


/*=============================== COMMON BEGIN ================================*/

* {
    margin:0; 
    padding:0;
}

:focus {
    outline:0;
}

img {
    border: none;
}

html,

body {
    background: #eee; 
    font-family: 'Open Sans',sans-serif; 
}

.navbar .logo-wrapper {
    display: block;
    float: left;
    margin: 0;
    padding: 10px 15px 4px;
}

.navbar .logo-wrapper {
    margin: 32px 0;
}

.navbar .nav.utility-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: 5px;
}

.navbar .nav.utility-nav {
    float: right;
    margin: 2.4em 0 0;
    position: relative;
    top: 0;
}