// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require YTPlayer/mb.YTVPlayer.css
*/

/*================= FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS =================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext,cyrillic);


/*=============================== COMMON BEGIN ================================*/

* {
    margin:0; 
    padding:0;
}

:focus {
    outline:0;
}

img {
    border: none;
}

html,

body {
    // background: #eee; 
    font-family: 'Open Sans',sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar .logo-wrapper {
    display: block;
    float: left;
    margin: 0;
    padding: 10px 15px 4px;
}

.navbar .logo-wrapper {
    margin: 32px 0;
}

.navbar .nav.utility-nav {
    margin: 0;
    position: absolute;
    right: 0;
    top: 5px;
}

.navbar .nav.utility-nav {
    margin: 2.4em 0 0;
    position: relative;
    top: 0;
}

// .container-home {
//     padding-top: 125px;
// }

.jumbotron-home {
    background-color: #0e204a;
    color: #fff;
}
/*=============================== COMMON END ================================*/
/*=============================== BLOCKS BEGIN ================================*/

/*---------- CONTACT BLOCK BEGIN ----------*/

#contact_us {}

#contact_us h2 {
    margin-bottom: 30px;
}

.map {
    background: #fff;
    border: 5px solid #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    float: right;
    width:65%;
    height:200px;
}

.contact_info {
    width: 30%;
    float: left;
}

.contact_info ul li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.contact_info ul li > span:first-child {
    background: none;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    font-size:14px;
    color:#bbbbbb;
}

/*---------- CONTACT BLOCK END ----------*/
/*---------- FOOTER BLOCK BEGIN ----------*/

.footerHeight {
    height: 80px;
    clear: both;
}

#footer {
    background: #e4e4e4;
    padding-top: 15px;
    height: 65px;
    clear: both;
    margin: -80px 0 0;
    position: relative;
}

#footer .copyright {
    width: 160px;
    float: left;
}

/*---------- FOOTER BLOCK END ----------*/
/*=============================== BLOCKS END ================================*/