    <div class="container">
    <section id="contact_us" class="box">
        <div class="center">
            <h2 class="text-center">Contact us</h2>
            <div class="contact_info" itemscope="" itemtype="http://schema.org/Organization">
                <ul>
                    <li itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span class="fa fa-map-marker"></span>
                        <span itemprop="streetAddress">2001 SW 27th Ave</span>,
                        <span itemprop="postalCode">33145</span>,
                        <span itemprop="addressLocality">Miami, FL</span>
                    </li>
                    <li itemprop="email">
                         <span class="fa fa-envelope"> </span>support@deporteconex.com</li>
                    <li itemprop="telephone">
                         <span class="fa fa-phone"> </span>1(855) 983-2916</li>
                    <li>
                         <span class="fa fa-twitter"> </span>@deporteconex</li>
                </ul>
            </div>

            <div class="map" id="map-canvas" style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
                <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x88d9b7ae9eaeda97%3A0x676512151d8bc78b!2s2001+SW+27th+Ave%2C+Miami%2C+FL+33145%2C+USA!5e0!3m2!1sen!2sca!4v1390002389549" width="600" height="250" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </section>

<!-- CONTACT US BLOCK END -->
<!-- FOOTER BLOCK BEGIN -->
</div>
    <div class="footerHeight"></div>
    <div id="footer">
        <div class="container center">
            <!-- Social icons -->
            <div class="socials">
                <ul>
                    <!-- <li>
                        <a href="http://dribbble.com/" target="_blank" title="Dribbble" class="fa fa-dribbble"></a>
                    </li> -->
                    <!-- <li>
                        <a href="https://plus.google.com/" target="_blank" title="Google+" class="fa fa-google-plus"></a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/DeporteConex" target="_blank" title="Facebook" class="fa fa-facebook"></a>
                    </li>
                    <!-- <li>
                        <a href="https://twitter.com/" target="_blank" title="Twitter" class="fa fa-twitter"></a>
                    </li> -->
                </ul>
            </div>
            <div class="copyright">
                <p>© Copyright 2014 Deporte Conex.
                    <br>All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>